@import "tailwindcss";

.custom-scroll::-webkit-scrollbar-button {
    display: none;
}

.custom-scroll::-webkit-scrollbar {
    width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: rgba(15, 23, 42, 0.4);
    border-radius: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: rgba(1, 222, 255, 0.6);
    border-radius: 8px;
}

.custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: rgba(1, 222, 255, 0.6) rgba(15, 23, 42, 0.4);
}





*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: rgba(15, 23, 42, 0.4);
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
    background: rgba(1, 222, 255, 0.6);
    border-radius: 8px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(1, 222, 255, 0.6) rgba(15, 23, 42, 0.4);
}