# ==========================================
# SatyaMark Frontend - Environment Variables
# ==========================================

# --- Environment Context ---
VITE_IS_DEV=true

# --- Backend Connections ---
# HTTP and WebSocket connections to the Node.js orchestrator
VITE_URL_BASE=http://localhost:2402
VITE_WS_URL_BASE=ws://localhost:2402

# --- Cloudinary Configuration ---
# Used for image uploads/handling
VITE_CLOUD_NAME=
VITE_UPLOAD_PRESET=

# --- External Links ---
# Public links used in the UI
VITE_URL_GIT_MAIN=https://github.com/DhirajKarangale/SatyaMark
VITE_URL_GIT_DEMO=https://github.com/DhirajKarangale/SatyaMark/tree/main/Frontend/DemoMedia
VITE_URL_LIVE_DEMO=https://satyamark-demo-socialmedia.vercel.app/
VITE_URL_NPM_LIBRARY=https://www.npmjs.com/package/satyamark-react
