numpy
httpx
requests
langchain
langdetect
transformers
python-dotenv
langchain-core
huggingface-hub
langchain_classic
langchain-huggingface
langchain_community
tqdm
pydantic
orjson
PyYAML
tenacity
regex
trafilatura
typing
html
lxml_html_clean